body {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
}

canvas {
    border: 1px solid black;
    width: 50vmin;
    margin: auto;
}

.picture {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 2vmin;
}

#loading {
    width: 100vw;
    height: 0px;
    z-index: 1;
    top: 0%;
    visibility: visible;
    background-color: white;
}

#loading img {
    width: 55vmin;
}

#interactions {
    visibility: hidden;
}

.picture_button {
    width: 5vw;
    height: 5vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border-radius: 15%;
    box-shadow: 0vmin 0vmin 0.45vw 0.45vw gray;
}

#summary {
    position: relative;
    width: 60vw;
    left: 20vw;
    margin-bottom: 5vh;
}

#slider_input {
    width: 65vmin;
}

.picture_box {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100vw;
    align-content:space-between;
    position: relative;
    padding: 0;
    margin: 0;
    align-items:center;
    justify-content: center;
  }